@model UserViewModel

<div>
    <h3>@Model.UserName</h3>

    <div>
        <div>
            <label asp-for="Id"></label>
            <input asp-for="Id" readonly />
        </div>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" readonly />
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" readonly />
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" readonly />
        </div>
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" readonly />
        </div>
        <div>
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday" readonly />
        </div>
        <div>
            <label asp-for="CreatedAt"></label>
            <input asp-for="CreatedAt" readonly />
        </div>
    </div>
    <hr />
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Edit" method="post">
            <input type="submit" value="Edit" />
        </form>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>