@model LoginViewModel

<div>
    <h2>Login in Account</h2>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="Login"></label>
                <input asp-for="Login"/>
                <span asp-validation-formaction="Login"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label>
                <input type="checkbox" asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div>
                <input type="submit" value="Login"/>
            </div>
        </form>
    </div>
</div>
