@using Microsoft.AspNetCore.Identity;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IQueryable<User>

@{
    ViewBag.Title = "Users";
}

<div>
        <table>
            <tr>
                <td>User Name</td>
                <td>Email</td>
                <td></td>
                <td></td>
            </tr>
            @foreach (User user in Model)
            {
                <tr> 
                    <td>
                        <p>@user.UserName</p>
                    </td>
                    <td>
                        <p>@user.Email</p>
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="Users" asp-action="User" asp-route-id="@user.Id"><input type="submit" value="Show"/></a>
                    </td>
                    <td>
                        <form asp-area="Admin" asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            }
        </table>
</div>