@using Microsoft.AspNetCore.Identity;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model UserViewModel

@{
    ViewBag.Title = "User";
}

<div>
    <a asp-area="Admin" asp-controller="Users" asp-action="AddRole" asp-route-id="@Model.Id">Add Users to role</a>
    <hr />
    <h3>@Model.UserName</h3>

    <div>
        <div>
            <label asp-for="Id"></label>
            <input asp-for="Id" readonly />
        </div>
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" readonly />
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" readonly />
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" readonly />
        </div>
        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" readonly />
        </div>
        <div>
            <label asp-for="Birthday"></label>
            <input asp-for="Birthday" readonly />
        </div>
        <div>
            <label asp-for="CreatedAt"></label>
            <input asp-for="CreatedAt" readonly />
        </div>
    </div>
    <hr />
    <h4>Roles: </h4>
    <ul>
        @foreach (var role in Model.Roles)
        {
            <li>@role</li>
        }
    </ul>
</div>

