@{
    ViewBag.Title = "Edit Page";

    bool ed = false;
    if (!String.IsNullOrEmpty(Model.Name))
    {
        ed = true;
    }
}
﻿
@model RoleViewModel

<div>


    @if(ed){
        <h1>Edit Role</h1>
        
    }
    else
    {
        <h1>New Role</h1>
    }

    <div>
        <form asp-area="Admin" asp-controller="Roles" asp-action="Edit" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly"></div>

            <div>
                <label asp-for="Id"></label>
                <input asp-for="Id" readonly/>
                <span asp-validation-for="Id"/>
            </div>

            <div>
                <label asp-for="Name"></label>
                     @if (ed)
                     {

                             <input asp-for="Name" readonly/>
                     }
                     else{

                             <input asp-for="Name" />

                     }
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description"></span>
            </div>
            <hr />
            <input type="submit" value="Save" />
        </form>
    </div>
</div>