@using Microsoft.AspNetCore.Identity;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IQueryable<Role>

@{
    ViewBag.Title = "Roles";
}

<div>
    <div>
        <a asp-area="Admin" asp-controller="Roles" asp-action="Edit" asp-route-id="">Add new role</a>
    </div>
    <hr />
    <div>
        <ul>
            @foreach (var role in Model)
            {
                <li>
                    <a asp-area="Admin" asp-controller="Roles" asp-action="Role" asp-route-id="@role.Id">@role.Name</a>

                    <form style="display: inline-block;" id="form-@role.Id" asp-area="Admin" asp-controller="Roles" asp-action="Delete" method="post">
                        <input type="hidden" name="id" value="@role.Id">
                        <a href="#" onclick="document.getElementById('form-@role.Id').submit();">Delete</a>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>