@model IQueryable<IdentityRole>

<div>
    @foreach (var role in Model)
    {
        <div style="display: inline-block;" class="mb-5">
            <p>@role.Id</p>
            <p>@role.Name</p>
        </div>
    }
</div>