@model IEnumerable<RoleViewModel>

@{
    ViewBag.Title = "Roles";
}

<div>
    <div>
        <a asp-area="Admin" asp-controller="Roles" asp-action="Edit" asp-route-id="">Add new role</a>
    </div>
    <hr />
    <div>
        <table>
            <tr>
                <td>Role name</td>
                <td>Description</td>
                <td></td>
                <td></td>
            </tr>
            @foreach(var role in Model) {
                <tr>
                    <td>
                        @role.Name
                    </td>
                    <td>
                        @role.Description
                    </td>
                    <td>
                        <a asp-area="Admin" asp-controller="Roles" asp-action="Role" asp-route-id="@role.Id"><input type="submit" value="Edit"/></a>
                    </td>
                    <td>
                        <form asp-area="Admin" asp-controller="Roles" asp-action="Delete" asp-route-id="@role.Id" method="post">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>