@model IQueryable<Article>

<div class="text-center">
    <div>
        <h1 class="display-4">Articles</h1>
        <div>
            <div>
                <a asp-area="Admin" asp-controller="Articles" asp-action="Edit" asp-route-id="">Add new</a>
            </div>
            @if (Model.Any())
            {
                <div>
                    @foreach (var article in Model)
                    {
                        <div>
                            <a asp-area="Admin" asp-controller="Articles" asp-action="Show" method="post" asp-route-id="@article.Id">@article.Title</a>
                            <a asp-area="Admin" asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id">Edit</a>
                            <form style="display: inline-block;" id="form-@article.Id" asp-area="Admin" asp-controller="Article" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@article.Id" />
                                <a href="#" onclick="document.getElementById('form-@article.Id').submit();">Delete</a>
                            </form>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
