@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IQueryable<ItemModel>
@{
}

<div>
    @if (Model.Any())
    {
        <ul>
            @foreach(var i in Model)
            {
                <li>
                    <h3>@i.Name</h3>
                    <p>@i.Description</p>
                    <br>
                    <p>@i.AddTime</p>
                </li>
            }
        </ul>
    }
</div>


